@import "function";

body {
   background:$DarkPurple;
}

#wrapper {
   padding-top:10%;
}

h1 {
   text-align: center;
   font-family: 'Poppins', sans-serif;
   color:$LightPurple;
   font-size:2.5em;
}

#logo {
   width:95%;
   max-width:900px;
   margin:auto;
   display:block;
}

#sm {
   text-align: center;

   a {
      position: relative;
      display: inline-block;
   }

   .fb, .insta, .yt {
      width:50px;
      height:50px;
      padding:50px 20px;
      display:inline-block;
   }
}
